.footer {
  background: rgba(51, 51, 51, 0.89);
  display: flex;
  flex-direction: column;
  padding: 30px 70px;
}

.footer > .footer-content-1 {
  border-bottom: 0.1px solid rgba(255, 255, 255, 0.357);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.footer-content-1 > * {
  padding: 10px;
}

/* ----------------footer content 2----------------- */
.footer-content-2>*{
    color: white;
}
.footer > .footer-content-2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 30px;
}

.footer-content-2 > .footer-content-2-content-left {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
