.signUp-container > .right-view {
  background: white;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 40px;
}
.right-view > .right-view-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.right-view-top > button {
  outline: none;
  border: none;
  background-color: #337ab7;
  color: white;
  font-weight: 600;
  font-size: 15px;
  border-radius: 5px;
  width: 89px;
  height: 40px;
  cursor: pointer;
}
.right-view-top > p {
  font-weight: 600;
  font-size: 15px;
  margin-left: 50px;
}

.right-view > .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.title > h1 {
  font-weight: bold;
  font-size: 27px;
}

.right-view > form {
  display: flex;
  flex-direction: column;
}

form > label {
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 10px;
}
form > input {
  box-shadow: 4px 2px 6px 2px rgba(0, 0, 0, 0.25),
    4px 4px 6px -17px rgba(0, 0, 0, 0.25), 0px 4px 7px -32px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  outline: none;
  border: none;
  height: 40px;
  padding: 20px;
}
form > button {
  margin-top: 20px;
  background: #337ab7;
  border-radius: 6px;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: bolder;
  font-size: 15px;
  color: white;
}
